:root {
  --bg: #fff;
  --textColor: #000;
  --textGray: #99a1b3;
  --mainColor: #f8972e;

  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --inputBgDark: rgba(120, 131, 155, 0.2);
  --inputBgLight: rgba(153, 161, 179, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.button-hover:hover {
  background-color: var(--inputBgLight);
}

.top-divider {
  margin-bottom: -1px;
  border-top: 1px solid currentColor;
  opacity: 0.1;
}

/* @media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
} */
