.container {
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
  padding: 20px;
}

.logo {
  width: 60px;
  height: 60px;
  animation: rotate360 5s linear infinite;
  border-radius: 50%;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px 20px;
}

.navlink {
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  transition: all linear 0.2s;
}

.navlink:hover {
  transform: scale(1.05);
  background-color: #ccc;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionsIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
